ConsoleApp2/ConsoleApp2/Connected Services/ServiceReference1/writeToCenDB_wms_WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://LSSFTXProdEAI02/sync_OMS_SFC/writeToCenDB_wms_WS" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapjms="http://www.w3.org/2010/soapjms/" name="writeToCenDB_wms_WS" targetNamespace="http://LSSFTXProdEAI02/sync_OMS_SFC/writeToCenDB_wms_WS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://LSSFTXProdEAI02/sync_OMS_SFC/writeToCenDB_wms_WS">
      <xsd:element name="process3A4Input" type="tns:process3A4Input" />
      <xsd:element name="process3A4Output" type="tns:process3A4Output" />
      <xsd:complexType name="process3A4Input">
        <xsd:sequence>
          <xsd:element name="PLANT" nillable="true" type="xsd:string" />
          <xsd:element name="CARTONID" nillable="true" type="xsd:string" />
          <xsd:element name="PALLETID" nillable="true" type="xsd:string" />
          <xsd:element name="WORKORDERNO" nillable="true" type="xsd:string" />
          <xsd:element name="SKUNO" nillable="true" type="xsd:string" />
          <xsd:element name="CARTONQTY" nillable="true" type="xsd:string" />
          <xsd:element name="PO_NUMBER" nillable="true" type="xsd:string" />
          <xsd:element name="OM_FLAG" nillable="true" type="xsd:string" />
          <xsd:element name="LASTEDITBY" nillable="true" type="xsd:string" />
          <xsd:element name="LASTEDITDT" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="process3A4Output">
        <xsd:sequence>
          <xsd:element name="flag" nillable="true" type="xsd:string" />
          <xsd:element name="errorMessage" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="writeToCenDB_wms_WS_PortType_process3A4Output">
    <wsdl:part name="parameters" element="tns:process3A4Output" />
  </wsdl:message>
  <wsdl:message name="writeToCenDB_wms_WS_PortType_process3A4Input">
    <wsdl:part name="parameters" element="tns:process3A4Input" />
  </wsdl:message>
  <wsdl:portType name="writeToCenDB_wms_WS_PortType">
    <wsdl:operation name="writeToCenDB_wms">
      <wsdl:input message="tns:writeToCenDB_wms_WS_PortType_process3A4Input" />
      <wsdl:output message="tns:writeToCenDB_wms_WS_PortType_process3A4Output" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="sync_OMS_SFC_writeToCenDB_wms_WS_Binder" type="tns:writeToCenDB_wms_WS_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="writeToCenDB_wms">
      <soap:operation soapAction="sync_OMS_SFC_writeToCenDB_wms_WS_Binder_writeToCenDB_wms" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="writeToCenDB_wms_WS">
    <wsdl:port name="sync_OMS_SFC_writeToCenDB_wms_WS_Port" binding="tns:sync_OMS_SFC_writeToCenDB_wms_WS_Binder">
      <soap:address location="http://10.18.143.212:5555/ws/sync_OMS_SFC:writeToCenDB_wms_WS/sync_OMS_SFC_writeToCenDB_wms_WS_Port" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>